<div class="form-box"> 
<h1 class="center">New coffee</h1>
<!-- <form action="/client/products/" method="post"  > -->
<%= form_tag '/client/products/', method: :post do %>
  <div class="form">
    <div>
      Name:<input class='form-item' type="text" name="input_name" id="input_name">
    </div>
    <div>
      Description:<input class='form-item' type="textbox" name="input_description" id="input_description">
    </div>
    <div>
      Price:<input class='form-item' type="number" name="input_price" id="input_price">
    </div>
    <div>
      Image url:<input class='form-item' type="text" name="input_image_url" id="input_image_url">
    </div>
    
  </div> <!-- form -->

  <div class="center">
    <input class="button button-create" type="submit" name="submit" value="Add a coffee">
  </div>
  
<!-- </form> -->
<% end %>
</div> <!-- wrapper -->
