<h1>New coffee</h1>
<form>
  Name:<input type="text" name="name" id="name"><br>
  Description:<input type="textbox" name="description" id="description"><br>
  Price:<input type="number" name="price" id="price"><br>
  Image url:<input type="text" name="image_url" id="image_url"><br>
  <input type="submit" name="submit">
</form>