<div style= 'text-align: center'>
<h1>New coffee</h1>
<!-- <form action="/client/products/" method="post"  > -->
<%= form_tag '/client/products/', method: :post do %>
  <div>
    Name:<input type="text" name="input_name" id="input_name">
  </div>
  <div>
    Description:<input type="textbox" name="input_description" id="input_description">
  </div>
  <div>
    Price:<input type="number" name="input_price" id="input_price">
  </div>
  <div>
    Image url:<input type="text" name="input_image_url" id="input_image_url">
  </div>
  <div>
    <input type="submit" name="submit" value="add a coffee">  
  </div>
<!-- </form> -->
<% end %>
</div>